body {
  font-family: 'Roboto', sans-serif !important;
}

.container-nav {
  margin: 0 auto;
  width: 80% !important;
}

.link-menu a {
  text-decoration: none !important;
}

.h1-beneficio {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333 !important;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
  font-size: 1.5rem;
  color: #333;
  font-weight: bold !important;
}

.card-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

.subcontainer-beneficio {
  height: 100%;
  width: 100%;
  border-top: 4px solid #fec30b !important;
  border-bottom: 4px solid #2E3092 !important;
  padding: 20px 0 20px 0 !important;
}

.amarelo-to-text {
  color: #fec30b !important;
}

.amarelo-to {
  background-color: #fec30b !important;
}

.azul-to-text {
  color: #2E3092 !important;
}

.azul-to {
  background-color: #2E3092 !important;
}

.marrom-secad-text {
  color: #896801 !important;
  font-size: 18px;
  font-weight: bold;
}

.marrom-secad {
  background-color: #896801 !important;
}

.filtros-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto 186px;
      grid-template-columns: auto auto 186px;
  gap: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-left: 15px;
}

.filtros-form label {
  color: #333;
}

.filtros-form div:last-of-type {
  justify-self: flex-end;
}

.filtros-form button {
  margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
  .filtros-form {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .filtros-form div:last-of-type {
    justify-self: flex-end;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 10px;
  }
}

.u-font-12 {
  font-size: calc(clamp(1rem, 0.8929rem + 0.4762vw, 1.25rem)) !important;
}

.u-font-18 {
  font-size: calc(clamp(1rem, 0.9143rem + 0.5238vw, 1.2rem)) !important;
}

.u-font-700 {
  font-weight: 500 !important;
}

.u-hidden {
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}

.c-card--size {
  height: 240px;
}

.card-text {
  word-break: break-all;
}

.banner-promocao {
  position: relative;
  background-color: #fec30b !important;
  padding: 100px 0 0 0;
}

.banner-promocao::before {
  content: '';
  background: url(images/beneficios_shapes.svg) center center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: .05;
}

.banner-promocao h1 {
  font-weight: 700;
  margin-bottom: 0;
}

.banner-promocao h2 {
  font-size: 25px;
  margin-top: 0;
  line-height: 1.4;
}

.banner-promocao .container {
  overflow: hidden;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  max-height: 400px;
}

.banner-promocao .container img {
  max-height: 500px;
}

@media screen and (max-width: 600px) {
  .banner-promocao .container {
    max-height: none;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .banner-promocao .container img {
    display: none;
  }
}

.filtros {
  background: #eef2f1;
  padding: 20px 0;
  margin-bottom: 80px;
}

.banner-cidade {
  margin-top: 80px;
  width: 100%;
  max-width: 300px;
}

.banner-cidade input {
  border: 1px solid #2E3092 !important;
  border-radius: 25px !important;
  text-indent: 16px;
  color: #2E3092 !important;
}

.banner-cidade .prefix ~ label {
  margin-left: 4.5rem;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.cards .card {
  border-radius: 8px !important;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
}

.cards .card .badge {
  float: left;
  color: #fff;
  background-color: #2e7d32;
  font-size: 14px;
  margin-left: 0;
  border-radius: 4px;
  text-transform: uppercase;
}

@media screen and (min-width: 601px) and (max-width: 992px) {
  .cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .cards {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

nav.nav-inicio {
  background-color: transparent;
  margin-bottom: -64px;
  position: relative;
  z-index: 10;
  -webkit-box-shadow: none;
          box-shadow: none;
}

nav.nav-inicio a {
  color: #2E3092 !important;
  font-weight: 500;
}

.pagination li.active {
  background-color: #2E3092 !important;
}

.card-content a {
  gap: 10px;
}
/*# sourceMappingURL=custom.css.map */